a:link, a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  
  a:hover, a:active {
    background-color:gray;
  }